POSTGRES__USER='user'
POSTGRES__PASSWORD='password'
POSTGRES__HOST=localhost
POSTGRES__PORT=5432
POSTGRES__DB='db'

SQL_ALCHEMY__DATABASE_URL=postgresql+asyncpg://${POSTGRES__USER}:${POSTGRES__PASSWORD}@${POSTGRES__HOST}:${POSTGRES__PORT}/${POSTGRES__DB}

ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT__SECRET_KEY="SuPeR_SEcReT_keY"
JWT__ALGORITHM="HS256"
